html {
  -webkit-app-region: drag;
  width: 205px;
  height: 305px;
  background: rgb(60, 60, 60);
  font-family: Lato;
  color: whitesmoke;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url(https://stackedit.io/static/fonts/lato-normal.27bd77b.woff) format("woff")
}

body {
  margin: 0px
}

image {
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}